<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    


<nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 justify-around flex py-3 mx-auto">
        <div class="font-bold">
            <i class="fa-solid fa-snowflake text-[12px] animate-spin"></i>
            Codex Nikhil
            <i class="fa-solid fa-snowflake text-[12px] animate-spin"></i>
        </div>
        <div class="flex items-center hidden md:inline-block">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="/" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/weather" class="text-gray-900 dark:text-white hover:underline">Weather</a>
                </li>
                <li>
                    <a href="/about" class="text-gray-900 dark:text-white hover:underline">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>